#canned{
    background-color: blue;
}

#veggies{
    background-color:aqua
}

#snacks{
    background-color:brown
}

h2{
    color: lightblue;
}

.table{
    border: 10px solid black;
    margin: 10px;
    display: inline-block
}

body{
    background-color: blueviolet;
}

